doctype html
html
  head
    title
      |Chickens
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="//code.jquery.com/jquery-1.11.0.min.js")
  body
    h1.
      LOOK AT THESE CUTE CHICKENS
    script
      |var images = JSON.parse('!{chickens}');
    img(src="images/chicken1.jpg", id="chickens")


    script(src="javascripts/local.js")